<!DOCTYPE html>
<html>
  <head>
    <title>Rawnet Developer Test - Kat Crichton-Seager</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" /> 
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
